@import url("https://fonts.googleapis.com/css?family=Bangers");

.navBar {
  height: 5vh;
  width: 100vw;
  background: white;
  color: black;
  opacity: 0.85;
  display: flex;
  justify-content: space-between;
  font-family: "Bangers", cursive;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.LandingNav {
  height: 5vh;
  width: 100vw;
  background: white;
  color: white;
  opacity: 0.85;
  display: flex;
  justify-content: flex-end;
  font-family: "Bangers", cursive;
}

/* .LoginBtn {
  text-decoration: none;
  text-decoration-color: white;
  color: White;
  font-size: 1.75rem;
  padding: 0rem 1rem;
} */

.LoginBtn:hover {
  color: greenyellow;
}

.home {
  text-decoration: none;
  text-decoration-color: white;
  color: black;
  font-size: 1.75rem;
  padding: 0rem 1rem;
}

.home:hover {
  color: #c0c0c0;
}

button:hover {
  cursor: pointer;
}

.homePage {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.backGround {
  height: 100vh;
  width: auto;
  background: white;
  opacity: 0.95;
}

.homePage {
  position: relative;
  margin: 200px auto 0;
  width: 300px;
  height: 250px;
  background: white;
}

.homePage:before,
.homePage:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(
    90deg,
    #501f3a,
    #501f3a,
    #cb2d6f,
    #cb2d6f,
    #14a098,
    #14a098,
    #0f292f,
    #0f292f
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.homePage:after {
  filter: blur(25px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.gamesBtn {
  opacity: 1;
  background: none;
  color: black;
  font-size: 3rem;
  border: none;
  border-radius: 1rem;
  margin: 4rem;
  margin-top: 5rem;
  font-family: "Bangers", cursive;
  text-decoration: none;
}

.gamesBtn:hover {
  color: #c0c0c0;
}

.gamesRoute {
  display: flex;
  justify-content: center;
}

.link {
  display: flex;
  justify-content: center;
  height: 0;
  text-decoration: none;
}

.games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  /* background-image: url("https://img.purch.com/definitive-pc-games/w/755/aHR0cDovL21lZGlhLmJlc3RvZm1pY3JvLmNvbS83L00vNzAwMTE0L29yaWdpbmFsL3N0ZWFtd29ya3Nob3Bfd2VidXBsb2FkX3ByZXZpZXdmaWxlXzIwMDg1MDEyMV9wcmV2aWV3LnBuZw=="); */
  background-color: white;
}

.gamePoster {
  height: 30vh;
  width: 25vh;
}

.gamesIndex {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
}

.gamesList {
  border: solid 0.25rem black;
  margin: 1rem;
  font-family: "Bangers", cursive;
  width: 18rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(0deg, #000, #262626);
  color: white;
}

.form {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formIn {
  height: 75vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label > input {
  border: 0.2rem solid #c0c0c0;
  border-radius: 1rem;
  height: 1.5rem;
  width: 15rem;
  background-color: black;
  color: greenyellow;
  text-align: center;
  text-decoration-color: greenyellow;
}

input {
  margin: 0.55rem;
}

.addGameH {
  color: white;
}

.title {
  font-size: 2rem;
  text-decoration: white;
}

h2 {
  font-size: 1.25rem;
}

.newGameBtn {
  width: 100vw;
  height: 5vh;
  border: solid black 0.25rem;
  background-color: greenyellow;
}

.addGameBkg {
  background-color: white;
}

.add {
  text-decoration: none;
  text-decoration-color: #c0c0c0;
  color: black;

  font-size: 1.75rem;
  padding: 0rem 1rem;
}

.add:hover {
  color: #c0c0c0;
}

.gamez {
  text-decoration: none;
  text-decoration-color: white;
  color: black;
  font-size: 2rem;
  padding: 0rem 1rem;
}

.gamez:hover {
  color: #c0c0c0;
}

.editGame {
  background-color: #c0c0c0;
  border-radius: 1rem;
  border: none;
  margin: 0.5rem;
  font-family: "Bangers", cursive;
}

.editGame:hover {
  background-color: white;
  font-size: 1rem;
}

.deleteBtn {
  background-color: #c0c0c0;
  border-radius: 1rem;
  border: none;
  font-family: "Bangers", cursive;
}

.deleteBtn:hover {
  background-color: red;
  font-size: 1rem;
}

.addGamebtn {
  background-color: #14a098;
  color: black;
  border-radius: 1rem;
  border: none;
  height: 2rem;
  width: 10rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5), 0 2px 8px rgba(0, 0, 0, 0.5);
}

.gamePageLink {
  text-decoration: none;
  color: white;
}

.gamePageLink:hover {
  color: black;
}
