@import url("https://fonts.googleapis.com/css?family=Bangers");

.navBar {
  height: 5vh;
  width: 100vw;
  background: black;
  color: black;
  opacity: .85;
  display: flex;
  justify-content: space-between;
  font-family: 'Bangers', cursive;

}

.home {
  text-decoration: none;
  text-decoration-color: white;
  color: greenyellow;
  font-size: 1.75rem;
  padding: 0rem 1rem;
}

.home:hover {
  color: white;
}

button:hover {
  cursor: pointer;
}

.homePage {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.backGround {
  height: 100vh;
  width: auto;
  background: black;
  opacity: .95;
}

.homePage {
  position: relative;
  margin: 200px auto 0;
  width: 300px;
  height: 250px;
  background: linear-gradient(0deg, #000, #262626);
}

.homePage:before,
.homePage:after {
  content: '';
  position: absolute;
  top: -2px;
  Left: -2px;
  background: linear-gradient(90deg, greenyellow, greenyellow, greenyellow, greenyellow, black, black, greenyellow, greenyellow, black, greenyellow);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.homePage:after {
  filter: blur(25px)
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }

}

.gamesBtn {
  opacity: 1;
  background: none;
  color: greenyellow;
  font-size: 3rem;
  border: none;
  border-radius: 1rem;
  margin: 4rem;
  margin-top: 5rem;
  font-family: 'Bangers', cursive;
}

.gamesBtn:hover {
  color: white;
}

.gamesRoute {
  display: flex;
  justify-content: center;
}

.games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  background-image: url("https://img.purch.com/definitive-pc-games/w/755/aHR0cDovL21lZGlhLmJlc3RvZm1pY3JvLmNvbS83L00vNzAwMTE0L29yaWdpbmFsL3N0ZWFtd29ya3Nob3Bfd2VidXBsb2FkX3ByZXZpZXdmaWxlXzIwMDg1MDEyMV9wcmV2aWV3LnBuZw==");
}

.gamePoster {
  height: 30vh;
  width: 25vh;
}

.gamesIndex {
  /* width: 100vw; */
  height: 100vh;
  display: flex;
}

.gamesList {
  border: solid .25rem black;
  margin: 1rem;
  font-family: 'Bangers', cursive;
  width: 18rem;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(0deg, #000, #262626);
  color: white;
}



.form {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formIn {
  height: 75vh;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label>input {
  border: .2rem solid white;
  border-radius: 1rem;
  height: 1.5rem;
  width: 15rem;
  background-color: black;
  color: greenyellow;
  text-align: center;
  text-decoration-color: greenyellow;

}

input {
  margin: .55rem;
}

.addGameH {
  color: white;
}

.title {
  font-size: 2rem;
  text-decoration: white;
}

h2 {
  font-size: 1.25rem;
}

.newGameBtn {
  width: 100vw;
  height: 5vh;
  border: solid black .25rem;
  background-color: greenyellow;
}

.addGameBkg {
  background: linear-gradient(0deg, #000, #262626);
}

.add {
  text-decoration: none;
  text-decoration-color: white;
  color: greenyellow;
  ;
  font-size: 1.75rem;
  padding: 0rem 1rem;
}

.add:hover {
  color: white;
}

.gamez {
  text-decoration: none;
  text-decoration-color: white;
  color: greenyellow;
  font-size: 2rem;
  padding: 0rem 1rem;
}

.gamez:hover {
  color: white;
}

.editGame {
  background-color: greenyellow;
  border-radius: 1rem;
  border: none;
  margin: .5rem;
  font-family: 'Bangers', cursive;
}

.editGame:hover {
  background-color: white;
  font-size: 1rem;
}

.deleteBtn {
  background-color: greenyellow;
  border-radius: 1rem;
  border: none;
  font-family: 'Bangers', cursive;
}

.deleteBtn:hover {
  background-color: red;
  font-size: 1rem;
}

.addGamebtn {
  background-color: greenyellow;
  color: black;
  border-radius: 1rem;
  border: none;
  height: 2rem;
  width: 10rem;
}

.gamePageLink {
  text-decoration: none;
  color: white;
}

.gamePageLink:hover {
  color: greenyellow;
}